html, body {
	font-family: Arial, Tahoma, sans;
	font-size: 11pt;
	height: 100%;
	line-height: 1.7em;
	margin: 0;
	}

blockquote {
	background: #DEDEDE;
	border-left: 3px solid #999;
	margin: .8em 0 .8em 1.2em;
	padding: .4em .8em;
	}

h1, h2, h3, h4, h5, h6 {
	font-family: "Trebuchet MS";
	font-weight: normal;
	margin: .8em 0;
	}

img {
	border: 0;
	}

p {
	margin: .8em 0;
	}

pre {
	white-space: pre-wrap;
	}

q {
	font-style: italic;
	}

sub, sup {
	line-height: 1em;
	}

a.hidden {
	text-decoration: none;
	}

	a.hidden:hover {
		text-decoration: underline;
		}

a.plain {
	text-decoration: none;
	}

ul.horizontal li {
	display: inline-block;
	}

.lt-ie8 ul.horizontal li {
	float: left;
	}

ul.plain {
	list-style: none;
	margin: 0;
	}

	ul.plain li {
		margin: 0;
		}

.clarfix {
	clear: both;
	}

.dotted, .dashed {
	text-decoration: none;
	}

.dotted {
	border-bottom-style: dotted;
	border-bottom-width: 1px; 
	}

.dashed {
	border-bottom-style: dashed;
	border-bottom-width: 1px;
	}

.positioned {
	position: relative;
	}
